<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <title>Home</title>
    <style>
        footer {
            margin-top: 6vw;
        }

        .categorytag {
            left: -200px;
        }

        header {
            margin-bottom: 7vw;
        }

        @media (min-width: 1441px) {
            footer {
                margin-top: 9vw;
            }

            .categories {
                margin-top: 19.4vw;
            }
        }

        @media (max-width: 1400px) {
            .categorytag {
                left: 0;
                top: -55px;
            }
        }

        @media (max-width: 1200px) {
            header {
                margin-bottom: 3vw;
            }

            .categories {
                margin-top: 22.3vw;
            }

            .top-rated {
                margin-top: 17vw;
            }

            footer {
                margin-top: 0;
            }
        }
    </style>
</head>

<body>
    <img class="img-fluid" src="/asset/homebg.png" alt=""
        style="position: absolute; top: 0;min-height: 512px;z-index: -1;">
    <header>
        <nav class="navbar navbar-expand-lg" style="margin-top:44px; padding: 0;">
            <div class="container-fluid d-flex justify-content-center" style="gap:30px;">
                <a href="/" style="width: 230px; height: 52px;">
                    <img src="/asset/LOGO.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a href="/categories" class="hovnav">Categories</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/toprated" class="hovnav">Top Rated</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/eatlist" class="hovnav">Eatlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%=redir%>" class="d-flex align-items-center justify-content-center loginmyacc" >
                                <%= myacc %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="intro">
        <h1 class="halo">Halo!</h1>
        <h3 class="introtext">Mau makan sehat apa hari ini?</h3>
        <div class="search-area">
            <form action="/" method="POST">
                <input type="text" name="foodquery" id="foodquery" class="searchbar"
                    placeholder="Ketik makanan yang kamu mau di sini!">
                <button type="submit" name="button" class="cari">Cari</button>
            </form>
        </div>
    </section>
    <section class="categories">
        <div class="viewall">
            <a href="/categories" class="hovnav">View All</a>
        </div>
        <div class="category-container d-flex justify-content-evenly align-items-center position-relative">
            <a href="/foods" style="text-decoration: none;">
                <div class="category-item">
                    <svg height="81" width="80" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill:#A5401D;" d="M341.994,495.721H170.006V406.92h171.987V495.721z" />
                        <path style="fill:#702D17;" d="M341.994,495.721H256V406.92h85.994V495.721z" />
                        <path style="fill:#E3744E;" d="M341.971,440.311H170.029l-2.803-1.036c-48.574-17.96-90.142-49.875-120.213-92.296
                   C16.256,303.591,0,252.455,0,199.099v-16.696h512v16.696c0,53.357-16.256,104.492-47.013,147.88
                   c-30.071,42.42-71.639,74.336-120.213,92.296L341.971,440.311z" />
                        <path style="fill:#E05323;" d="M341.971,440.311H256V182.403h256v16.696c0,53.357-16.256,104.492-47.013,147.88
                   c-30.071,42.42-71.639,74.336-120.213,92.296L341.971,440.311z" />
                        <path style="fill:#CCCCCF;" d="M216.098,123.829h-33.391c0-13.412,4.429-21.128,7.359-26.233c2.13-3.713,2.928-5.102,2.928-9.613
                   c0-4.512-0.798-5.901-2.928-9.614c-2.931-5.107-7.359-12.823-7.359-26.237s4.429-21.13,7.359-26.237
                   c2.13-3.713,2.928-5.102,2.928-9.616h33.391c0,13.413-4.429,21.13-7.359,26.237c-2.13,3.713-2.928,5.102-2.928,9.616
                   s0.798,5.902,2.928,9.616c2.932,5.107,7.359,12.823,7.359,26.236s-4.429,21.129-7.359,26.236
                   C216.897,117.93,216.098,119.319,216.098,123.829z" />
                        <path style="fill:#AAA9AF;" d="M318.974,123.829h-33.391c0-13.412,4.429-21.128,7.359-26.233c2.13-3.713,2.928-5.102,2.928-9.613
                   c0-4.512-0.798-5.901-2.928-9.614c-2.931-5.107-7.359-12.823-7.359-26.237s4.429-21.13,7.359-26.237
                   c2.13-3.713,2.928-5.102,2.928-9.616h33.391c0,13.413-4.429,21.13-7.359,26.237c-2.13,3.713-2.928,5.102-2.928,9.616
                   s0.798,5.902,2.928,9.616c2.932,5.107,7.359,12.823,7.359,26.236s-4.429,21.129-7.359,26.236
                   C319.771,117.93,318.974,119.319,318.974,123.829z" />
                    </svg>
                    <h5 class="category-item-text">Berkuah</h5>
                </div>
            </a>
            <a href="/foods" style="text-decoration: none;">
                <div class="category-item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.001 512.001" height="81" width="80"
                        xml:space="preserve">
                        <path style="fill:#E55639;" d="M437.019,437.02L437.019,437.02c-99.975,99.975-262.065,99.975-362.039,0l0,0
        c-99.974-99.974-99.974-262.064,0-362.039l0,0c99.975-99.974,262.064-99.974,362.039,0l0,0
        C536.993,174.955,536.993,337.045,437.019,437.02z" />
                        <path style="fill:#CF4529;" d="M437.019,74.981L437.019,74.981c-99.975-99.975-262.064-99.975-362.039,0L437.019,437.02
        C536.994,337.045,536.993,174.955,437.019,74.981z" />
                        <path style="fill:#C4CAD9;" d="M389.796,389.796L389.796,389.796c-73.894,73.894-193.7,73.894-267.593,0l0,0
        c-73.894-73.894-73.894-193.7,0-267.593l0,0c73.894-73.894,193.7-73.894,267.593,0l0,0
        C463.691,196.097,463.691,315.903,389.796,389.796z" />
                        <path style="fill:#B8BFCC;" d="M389.796,122.203L389.796,122.203c-73.894-73.894-193.7-73.895-267.593,0l267.593,267.593
        C463.691,315.903,463.691,196.097,389.796,122.203z" />
                        <rect x="314.08" y="291.818" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 798.5623 330.7726)"
                            style="fill:#E6EEFF;" width="33.391" height="77.912" />
                        <rect x="328.331" y="285.91" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -131.1043 333.2189)"
                            style="fill:#DAE2F2;" width="16.695" height="77.912" />
                        <path style="fill:#E6EEFF;" d="M319.564,201.516l-20.281-20.281l-47.219,47.219l-40.769-40.769c-6.532-6.532-17.079-6.534-23.611,0
        c-6.534,6.534-6.532,17.079,0,23.611l40.769,40.769l-23.615,23.615l-40.773-40.773c-6.521-6.521-17.087-6.521-23.609,0
        c-6.521,6.516-6.522,17.093,0,23.609l40.773,40.773l20.281,20.281c32.276,32.276,85.133,32.932,118.055,0
        C352.47,286.675,351.879,233.831,319.564,201.516z" />
                        <path style="fill:#DAE2F2;" d="M319.564,201.516l-20.281-20.281l-40.773-40.773c-6.521-6.521-17.086-6.522-23.608,0
        c-6.522,6.517-6.522,17.092,0,23.609l40.773,40.773l-23.61,23.61l-40.769-40.769c-6.532-6.532-17.079-6.534-23.611,0L319.57,319.569
        C352.47,286.672,351.878,233.83,319.564,201.516z" />
                        <path style="fill:#FFDE33;" d="M496.047,496.048L496.047,496.048c-19.561,19.561-51.273,19.561-70.834,0l-86.575-86.575
        c-19.561-19.561-19.561-51.273,0-70.834l0,0c19.561-19.561,51.273-19.561,70.834,0l86.575,86.575
        C515.607,444.774,515.607,476.487,496.047,496.048z" />
                        <path style="fill:#FFBC33;" d="M496.047,425.214l-86.575-86.575c-19.561-19.561-51.273-19.561-70.834,0l157.408,157.408
        C515.608,476.487,515.607,444.774,496.047,425.214z" />
                    </svg>
                    <h5 class="category-item-text">Non Kuah</h5>
                </div>
            </a>
            <a href="/foods" style="text-decoration: none;">
                <div class="category-item">
                    <svg fill="#000000" height="81" width="80" viewBox="0 0 32 32"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="matrix(1,0,0,1,-144,-384)">
                            <g transform="matrix(1,0,0,1,-2,190)">
                                <path
                                    d="M160.445,197.924C160.824,197.454 161.396,197.181 162,197.181C162.604,197.181 163.176,197.454 163.555,197.924C163.888,198.336 164.225,198.752 164.509,199.104C164.964,199.666 165.686,199.939 166.398,199.819C166.825,199.746 167.322,199.662 167.804,199.581C168.334,199.491 168.878,199.619 169.313,199.935C169.748,200.251 170.037,200.729 170.116,201.261C170.187,201.744 170.261,202.243 170.324,202.671C170.429,203.386 170.912,203.988 171.587,204.247C172.01,204.408 172.51,204.6 173.004,204.789C173.568,205.005 174.005,205.464 174.191,206.039C174.378,206.613 174.295,207.241 173.965,207.748C173.677,208.191 173.385,208.64 173.138,209.019C172.744,209.625 172.707,210.396 173.042,211.037C173.243,211.42 173.476,211.867 173.703,212.3C173.952,212.776 173.998,213.333 173.832,213.845C173.666,214.356 173.301,214.779 172.819,215.018C172.382,215.235 171.93,215.459 171.543,215.652C170.895,215.973 170.472,216.618 170.434,217.34C170.411,217.792 170.384,218.327 170.356,218.855C170.325,219.459 170.023,220.015 169.535,220.37C169.046,220.725 168.423,220.841 167.84,220.684C167.328,220.546 166.811,220.407 166.375,220.29C165.677,220.102 164.932,220.306 164.426,220.822C164.123,221.131 163.77,221.492 163.429,221.84C163.053,222.225 162.538,222.441 162,222.441C161.462,222.441 160.947,222.225 160.571,221.84C160.23,221.492 159.877,221.131 159.574,220.822C159.068,220.306 158.323,220.102 157.625,220.29C157.189,220.407 156.672,220.546 156.16,220.684C155.577,220.841 154.954,220.725 154.465,220.37C153.977,220.015 153.675,219.459 153.644,218.855C153.616,218.327 153.589,217.792 153.566,217.34C153.528,216.618 153.105,215.973 152.457,215.652C152.07,215.459 151.618,215.235 151.181,215.018C150.699,214.779 150.334,214.356 150.168,213.845C150.002,213.333 150.048,212.776 150.297,212.3C150.524,211.867 150.757,211.42 150.958,211.037C151.293,210.396 151.256,209.625 150.862,209.019C150.615,208.64 150.323,208.191 150.035,207.748C149.705,207.241 149.622,206.613 149.809,206.039C149.995,205.464 150.432,205.005 150.996,204.789C151.49,204.6 151.99,204.408 152.413,204.247C153.088,203.988 153.571,203.386 153.676,202.671C153.739,202.243 153.813,201.744 153.884,201.261C153.963,200.729 154.252,200.251 154.687,199.935C155.122,199.619 155.666,199.491 156.196,199.581C156.678,199.662 157.175,199.746 157.602,199.819C158.314,199.939 159.036,199.666 159.491,199.104C159.775,198.752 160.112,198.336 160.445,197.924Z"
                                    style="fill:rgb(144,224,239);" />
                            </g>
                            <path
                                d="M157.667,387.295L156.713,388.475C156.486,388.756 156.125,388.893 155.769,388.833C155.769,388.833 154.363,388.595 154.363,388.595C153.568,388.46 152.752,388.652 152.099,389.126C151.447,389.6 151.013,390.317 150.895,391.115C150.895,391.115 150.687,392.525 150.687,392.525C150.634,392.882 150.393,393.183 150.055,393.313C150.055,393.313 148.638,393.855 148.638,393.855C147.792,394.179 147.138,394.868 146.858,395.73C146.578,396.591 146.702,397.534 147.196,398.293C147.196,398.293 148.024,399.565 148.024,399.565C148.221,399.868 148.239,400.253 148.072,400.573C148.072,400.573 147.411,401.836 147.411,401.836C147.038,402.551 146.967,403.386 147.217,404.154C147.466,404.921 148.014,405.555 148.736,405.914C148.736,405.914 150.013,406.547 150.013,406.547C150.336,406.708 150.548,407.031 150.567,407.392C150.567,407.392 150.645,408.907 150.645,408.907C150.692,409.812 151.145,410.647 151.878,411.179C152.611,411.712 153.545,411.885 154.42,411.65C154.42,411.65 155.885,411.256 155.885,411.256C156.234,411.162 156.606,411.263 156.859,411.522C156.859,411.522 157.856,412.54 157.856,412.54C158.421,413.116 159.193,413.441 160,413.441C160.807,413.441 161.579,413.116 162.144,412.54C162.144,412.54 163.141,411.522 163.141,411.522C163.394,411.263 163.766,411.162 164.115,411.256C164.115,411.256 165.58,411.65 165.58,411.65C166.455,411.885 167.389,411.712 168.122,411.179C168.855,410.647 169.308,409.812 169.355,408.907C169.355,408.907 169.433,407.392 169.433,407.392C169.452,407.031 169.664,406.708 169.987,406.547C169.987,406.547 171.264,405.914 171.264,405.914C171.986,405.555 172.534,404.921 172.783,404.154C173.033,403.386 172.962,402.551 172.589,401.836C172.589,401.836 171.928,400.573 171.928,400.573C171.761,400.253 171.779,399.868 171.976,399.565C171.976,399.565 172.804,398.293 172.804,398.293C173.298,397.534 173.422,396.591 173.142,395.73C172.862,394.868 172.208,394.179 171.362,393.855C171.362,393.855 169.945,393.313 169.945,393.313C169.607,393.183 169.366,392.882 169.313,392.525C169.313,392.525 169.105,391.115 169.105,391.115C168.987,390.317 168.553,389.6 167.901,389.126C167.248,388.652 166.432,388.46 165.637,388.595C165.637,388.595 164.231,388.833 164.231,388.833C163.875,388.893 163.514,388.756 163.287,388.475C163.287,388.475 162.333,387.295 162.333,387.295C161.763,386.591 160.906,386.181 160,386.181C159.094,386.181 158.237,386.591 157.667,387.295ZM159.222,388.553C159.412,388.318 159.698,388.181 160,388.181C160.302,388.181 160.588,388.318 160.778,388.553L161.731,389.733C162.413,390.576 163.496,390.986 164.565,390.805L165.97,390.567C166.235,390.522 166.507,390.586 166.725,390.744C166.943,390.902 167.087,391.141 167.126,391.407L167.335,392.817C167.493,393.889 168.217,394.793 169.23,395.18L170.647,395.723C170.929,395.831 171.147,396.061 171.24,396.348C171.333,396.635 171.292,396.949 171.127,397.202L170.3,398.474C169.709,399.383 169.654,400.54 170.156,401.5L170.816,402.763C170.941,403.001 170.964,403.28 170.881,403.536C170.798,403.791 170.616,404.003 170.375,404.122L169.098,404.756C168.127,405.238 167.492,406.206 167.436,407.289L167.358,408.804C167.342,409.105 167.191,409.384 166.947,409.561C166.702,409.739 166.391,409.797 166.099,409.718L164.634,409.324C163.587,409.043 162.47,409.348 161.712,410.122L160.715,411.141C160.526,411.333 160.269,411.441 160,411.441C159.731,411.441 159.474,411.333 159.285,411.141L158.288,410.122C157.53,409.348 156.413,409.043 155.366,409.324L153.901,409.718C153.609,409.797 153.298,409.739 153.053,409.561C152.809,409.384 152.658,409.105 152.642,408.804L152.564,407.289C152.508,406.206 151.873,405.238 150.902,404.756L149.625,404.122C149.384,404.003 149.202,403.791 149.119,403.536C149.036,403.28 149.059,403.001 149.184,402.763L149.844,401.5C150.346,400.54 150.291,399.383 149.7,398.474L148.873,397.202C148.708,396.949 148.667,396.635 148.76,396.348C148.853,396.061 149.071,395.831 149.353,395.723L150.77,395.18C151.783,394.793 152.507,393.889 152.665,392.817L152.874,391.407C152.913,391.141 153.057,390.902 153.275,390.744C153.493,390.586 153.765,390.522 154.03,390.567L155.435,390.805C156.504,390.986 157.587,390.576 158.269,389.733L159.222,388.553ZM163.356,402.032C162.27,401.836 161.229,402.558 161.032,403.644C160.836,404.73 161.558,405.772 162.644,405.968C163.73,406.165 164.772,405.442 164.968,404.356C165.165,403.27 164.442,402.229 163.356,402.032ZM163.293,395.293L155.293,403.293C154.903,403.683 154.903,404.317 155.293,404.707C155.683,405.097 156.317,405.097 156.707,404.707L164.707,396.707C165.097,396.317 165.097,395.683 164.707,395.293C164.317,394.903 163.683,394.903 163.293,395.293ZM157.356,394.032C156.27,393.836 155.229,394.558 155.032,395.644C154.836,396.73 155.558,397.772 156.644,397.968C157.73,398.165 158.772,397.442 158.968,396.356C159.165,395.27 158.442,394.229 157.356,394.032Z"
                                style="fill:rgb(25,144,167);" />
                        </g>
                    </svg>
                    <h5 class="category-item-text">Murah</h5>
                </div>
            </a>
            <a href="/foods" style="text-decoration: none;">
                <div class="category-item">
                    <svg width="80" height="81" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.25 7.84748C10.3141 8.10339 9.75 8.82154 9.75 9.5C9.75 10.1785 10.3141 10.8966 11.25 11.1525V7.84748Z"
                            fill="#1C274C" />
                        <path
                            d="M12.75 12.8475V16.1525C13.6859 15.8966 14.25 15.1785 14.25 14.5C14.25 13.8215 13.6859 13.1034 12.75 12.8475Z"
                            fill="#1C274C" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12 5.25C12.4142 5.25 12.75 5.58579 12.75 6V6.31673C14.3804 6.60867 15.75 7.83361 15.75 9.5C15.75 9.91421 15.4142 10.25 15 10.25C14.5858 10.25 14.25 9.91421 14.25 9.5C14.25 8.82154 13.6859 8.10339 12.75 7.84748V11.3167C14.3804 11.6087 15.75 12.8336 15.75 14.5C15.75 16.1664 14.3804 17.3913 12.75 17.6833V18C12.75 18.4142 12.4142 18.75 12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V17.6833C9.61957 17.3913 8.25 16.1664 8.25 14.5C8.25 14.0858 8.58579 13.75 9 13.75C9.41421 13.75 9.75 14.0858 9.75 14.5C9.75 15.1785 10.3141 15.8966 11.25 16.1525V12.6833C9.61957 12.3913 8.25 11.1664 8.25 9.5C8.25 7.83361 9.61957 6.60867 11.25 6.31673V6C11.25 5.58579 11.5858 5.25 12 5.25Z"
                            fill="#1C274C" />
                    </svg>
                    <h5 class="category-item-text">Mahal</h5>
                </div>
            </a>
            <div class="categorytag position-absolute"><a href=""
                    style="color: #000;font-feature-settings: 'clig' off, 'liga' off;font-family: Poppins;font-size: 21.961px;font-style: normal;font-weight: 500;line-height: 150%; /* 32.941px */text-decoration: none;">Category</a>
            </div>
        </div>
    </section>
    <img class="img-fluid" src="/asset/bgbawah.png" alt="" style="position: absolute; top: 840px;height: auto;z-index: -1;">
    <section class="top-rated">
        <div class="viewall"><a href="/toprated" class="hovnav">View All</a></div>
        <div class="box-content position-relative"
            style="height: 480px;border-radius: unset;border-radius: unset;background: unset;box-shadow: unset;width: 943px;">
            <div class="gallery">
                <% for (let i=0; i < foods.length; i++){ %>
                    <% let foodUrl=foods[i].name.toLowerCase().split(' ').join('-');%>
                        <a href="/foods/<%= foodUrl %>" style="text-decoration: none;">
                            <div class="gallery-item">
                                <img src="/asset/<%= foods[i].name %>.jpg" alt="" style="object-fit: cover;">
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="47" height="50" viewBox="0 0 47 50"
                                        fill="none">
                                        <path
                                            d="M23.0324 18.1683L24.8366 24.5241H30.2492L25.8923 27.8349L27.6773 33.9864L23.0324 30.226L18.3876 33.9864L20.1726 27.8349L15.8156 24.5241H21.2282L23.0324 18.1683ZM23.0324 4.0874L18.3876 20.4368H3.83887L15.6813 29.4494L11.19 44.9609L23.0324 35.3761L34.894 44.9609L30.3836 29.4494L42.226 20.4368H27.6773L23.0324 4.0874Z"
                                            fill="#FFD74B" />
                                    </svg>
                                    <span class="rating-number">
                                        <% let len=Math.min(foods[i].currentRating.toString().length, 4) %>
                                            <%= foods[i].currentRating.toString().slice(0, len) %>
                                    </span>
                                </div>
                                <div class="textandprice">
                                    <h4 class="foodname">
                                        <%= foods[i].name%>
                                    </h4>
                                    <h3 class="pricenumber">
                                        <span class="pricecurr">Rp</span>
                                        <%= foods[i].price + ".000" %>
                                    </h3>
                                </div>
                            </div>
                        </a>
                        <% } %>
            </div>
            <div class="categorytag position-absolute"><a href="/toprated" class="hovnav"
                    style="color: #000;font-feature-settings: 'clig' off, 'liga' off;font-family: Poppins;font-size: 21.961px;font-style: normal;font-weight: 500;line-height: 150%; /* 32.941px */text-decoration: none;">Top
                    Rated</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="footercontainer">
            <div class="footerlogo">
                <img src="/asset/footerlogo.png" alt="" class="img-fluid">
                <img src="/asset/footerbrand.png" alt="" class="img-fluid">
            </div>
            <div class="footertext">
                <a href="/about" class="footerlink">
                    About Us
                </a>
            </div>
            <div class="itb" style="width: 500px;">
                <img src="/asset/ganesha.png" alt="" class="img-fluid">
                <div class="itbloc">
                    <h2 style="color: #FFF;
                        font-family: Poppins;
                        font-size: 23.516px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;margin: 0;">ITB Kampus Ganesha</h2>
                    <p style="color: #FFF;
                        font-family: Poppins;
                        font-size: 14.519px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;width: 326.923px;margin: 0;">Jl. Ganesa No.10, Lb. Siliwangi, Kecamatan
                        Coblong, Kota Bandung, Jawa Barat 40132</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>